body, html {
	background-color:#f8f4edb3;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-row: row;
  justify-content: left;
}

.gif {
  padding: 20px;
  left: auto;
}

.Loader {
  color: blue;
}
